<!DOCTYPE html>
<html>

<head>
    <!--<link rel="stylesheet" href="/static/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <title> Tarassov Nikita's profile page </title>

</head>

<body>

    <table>
        <tr>
            <td><img src="/static/profile_picture.jpg" width="600"></td>
            <td>
                <h1>Hi my name is Nikita, glad to see you on my page!</h1>
                <br><br>

                <li>👀 I’m interested in cyber security, coding, CTFs, pentesting, ethical hacking.</li>
                <li>🌱 I’m currently learning Open Stack pentesting path, cisco security, CVEs and vulnerability
                    analysis.</li>
                <li> 💞️ I’m looking to collaborate on CTFs, pentesting and ethical hacking.</li>
                <li> Trying to create local quiz game server for friends.</li>
                <li>📫 How to reach me telegram @koldyn2193</li>
                <li> https://github.com/koldyn2193</li>


            </td>

        </tr>

    </table>
</body>

</html>